<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEY</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>navbar}}
    <h2>HELLO ANIKET</h2>
</body>
</html>